# Ignore system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore large output or data folders ONLY
CR3BP_Poincare/
#source/CR3BP_Poincare_J2/poincare_output/
source/neptune_triton_models/old/
poincare_maps/
lit_review/
20231110P02/
source/CR3BP_Poincare_J2/__pycache__/
source/CR3BP_Poincare_J2/compare.py
source/CR3BP_Poincare_J2/comparison_plot.py
source/neptune_triton_models/__pycache__/
source/neptune_triton_models/old/
source/neptune_triton_models/r3bp_with_perturbations/__pycache__

# Ignore virtual environment if present
venv/

# Optional: ignore test files you never want pushed
source/neptune_triton_models/r3bp_with_perturbations/test_file.py

# Ignore all .dat files globally
*.dat

